html,
body {
  padding: 0;
  margin: 0;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  color: #263228;
  font-size: 1.1rem;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (hover: none) and (pointer: coarse) {
  a {
    text-decoration: underline;
  }
}

@media (hover: hover) {
  a:hover,
  a:active {
    text-decoration: underline;
  }
}

* {
  box-sizing: border-box;
}
