.container {
  width: 100%;
  height: 100vh;
  background-color: white;
}

#content_container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Index page animation */
@keyframes logo_bounce {
  0%    {transform: translateY(0px);}
  25%   {transform: translateY(+15px);}
  50%   {transform: translateY(0px);}
  75%   {transform: translateY(+15px);}
  100%  {transform: translateY(0px);}
}

@keyframes logo_fill {
  from {
    fill: transparent;
  }
  to {
    fill: #263228;
  }
}

@keyframes wd_visible {
  from {
    stroke: transparent;
  }
  to {
    stroke: #263228;
  }
}

#logo_animated {
  position: relative;
  bottom: 0px;
  /* animation: logo_bounce 4s infinite; */
}

#logo_animated path:nth-child(1) {
  animation: logo_bounce 4s ease infinite;
  stroke: #263228;
}

#logo_animated path:nth-child(2) {
  stroke: #263228;
}

#logo_animated path:nth-child(3) {
  stroke: transparent;
}

@media (hover: hover) {
  #logo_animated:hover path:nth-child(2) {
    animation: logo_fill 0.8s ease forwards;
  }

  #logo_animated:hover path:nth-child(3) {
    animation: wd_visible 0.8s ease forwards 0.8s;
  }
}

@media (hover: none) {
  #logo_animated path:nth-child(2) {
    animation: logo_fill 0.8s ease forwards;
  }

  #logo_animated path:nth-child(3) {
    animation: wd_visible 0.8s ease forwards 0.8s;
  }
}

#contacts {
  border-top: 1px solid #263228;
  padding: 15px 20px 0px 20px;
  word-wrap: normal;
  font-size: 1.1rem;
}
